.avatar{
  position: absolute;
  margin-left: 2.5px;
  margin-top: 2.3px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  z-index:1000;
  float: left;
}
.cien
{
	width:80px;
	margin-left: 0.3px;
	height:80px;
	border-radius:50%;
	background: linear-gradient(45deg,transparent 50%,#e5f403);
	animation: animate 3s linear infinite; 
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
		filter: hue-rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
		filter: hue-rotate(360deg);
	}
}
.cien:after {
	content: '';
	background: linear-gradient(45deg,transparent 50%, #e5f403);
	border-radius: 50%;
	z-index: -1;
	filter: blur(40px);
}