/* background-color: rgb36393f; */
.head {
    width: 100%;
    float: left;
background-color: rgba(54, 57, 63, 0.5);
}
.menu {
width: 250px;
float: left;
overflow: hidden;
background-color: rgba(54, 57, 63, 0.5);
}
.muzg {
width: 554px;
float: left;
overflow: hidden;
background-color: rgba(54, 57, 63, 0.5);
}
.stópki {
color: powderred;
clear: both;
width: 100%;
background-color: rgba(54, 57, 63, 0.5);
}